---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/formatted-date.astro";
import Layout from "@/layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <main class='min-h-screen'>
    <section class='py-16'>
      <div class='mx-auto max-w-7xl px-4 sm:px-8'>
        <ul class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6'>
          {
            posts.map((post) => (
              <li class='p-4 rounded-md group overflow-hidden hover:bg-accent hover:border'>
                <a href={`/blog/${post.id}/`} class='block'>
                  <div class='aspect-[2/1] overflow-hidden'>
                    <img
                      width={720}
                      height={360}
                      src={post.data.heroImage}
                      alt=''
                      class='w-full h-full object-cover rounded-sm'
                    />
                  </div>
                  <div class='pt-4'>
                    <h4 class='text-xl font-semibold font-serif mb-2'>
                      {post.data.title}
                    </h4>
                    <p class='line-clamp-2	'>{post.data.description}</p>
                    <small>
                      <FormattedDate date={post.data.pubDate} />
                    </small>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
