---
import type { Step } from "@/types";
import DoubleBorderCard from "@/components/double-border-card.astro";

interface Props {
  title?: string;
  subtitle?: string;
  description?: string;
  steps: Step[];
}

const {
  title = "Get started in minutes",
  subtitle = "Start building amazing applications",
  description = "Follow these simple steps to get started with our platform",
  steps,
} = Astro.props;
---

<section class='py-16'>
  <div class='mx-auto max-w-7xl px-4 sm:px-8'>
    <div class='mx-auto max-w-2xl text-center'>
      <p class='text-2xl font-cursive'>{title}</p>
      <h2 class='font-bold font-serif tracking-tight'>
        {subtitle}
      </h2>
      <p class='mt-6 leading-8 text-muted-foreground'>
        {description}
      </p>
    </div>

    <div class='mx-auto mt-16 max-w-5xl sm:mt-20'>
      <div class='grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3'>
        {
          steps.map((step) => (
            <DoubleBorderCard>
              <div class='flex items-center gap-x-4'>
                <step.icon className='h-8 w-8' />
                <h5 class='font-semibold font-serif'>{step.name}</h5>
              </div>
              <p class='mt-4 text-muted-foreground'>{step.description}</p>
            </DoubleBorderCard>
          ))
        }
      </div>
    </div>
  </div>
</section>
